@import url(./__cards/elements__cards.css);
@import url(./__card/elements__card.css);
@import url(./__photo/elements__photo.css);
@import url(./__rectangle/elements__rectangle.css);
@import url(./__title/elements__title.css);
@import url(./__like/elements__like.css);


.elements {
max-width: 882px;
margin: 0 auto;
padding: 0;
}



@media all and (max-width: 950px) {
    .elements {
        padding: 0 50px;
    }
}

@media all and (max-width: 550px) {
    .elements {
        padding: 0 19px;
    }
}