.elements__delete {
    position: absolute;
    top: 18px;
    right: 15px;
    background-image: url('../../../images/delete_icon.svg');
    background-repeat: no-repeat;
    background-color: transparent;
    width: 18px;
    height: 19.2px;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    flex-shrink: 0;
}

.elements__delete:hover {
    opacity: 0.6;
}