.popup__close-button {
    background-image: url(../../../images/close_icon.svg);
    background-size: contain;
    position: absolute;
    top: -45px;
    right: -45px;
    width: 56px;
    height: 56px;
    border: none;
    background-color: transparent;
}

@media all and (max-width: 550px) {
    .popup__close-button {
        background-image: url(../../../images/close_icon.svg);
        background-size: contain;
        position: absolute;
        top: -34px;
        right: -34px;
        width: 44px;
        height: 44px;
    }
}