.profile__addbutton {
    box-sizing: border-box;
    width: 150px;
    height: 50px;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    box-shadow: none;
    cursor: pointer;
    outline: none;
    flex-shrink: 0;
    transition: 0.4s linear;
  }

  .profile__addbutton:hover {
    border: 2px solid rgba(255, 255, 255, 0.6);
  }
  
